<h1 class="page-header">Perfil</h1>
<h2>Bienvenido a tú perfil</h2>
<p>
    <strong class="text-primary">ID: </strong>{{user._id}}<br>
    <strong class="text-primary">Nombre: </strong>{{user.name}}<br>
    <strong class="text-primary">Email: </strong>{{user.email}}<br>
    <strong class="text-primary">Contraseña: </strong>{{user.password}}<br>                    
</p>