<h1 class="page-header">Actualizar Perfil</h1>
{{#if errors}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{#each errors}}
    <strong>{{msg}}</strong><br>
    {{/each}}
</div>
{{/if}}
<form class="form-horizontal" method="post" action="/users/update">
    <fieldset>                      
        <div class="form-group">
            <label for="inputName" class="col-lg-1 control-label">Nombre</label>
            <div class="col-lg-11">
                <input type="text" class="form-control" name="name" id="inputName" placeholder="Nombre" value="{{user.name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-1 control-label">Email</label>
            <div class="col-lg-11">
                <input type="email" class="form-control" name="emailnuevo" id="inputEmail" placeholder="Email" value="{{user.email}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail2" class="col-lg-1 control-label">Email Actual</label>
            <div class="col-lg-11">                
                <input type="email" class="form-control" name="emailactual" id="inputEmail2" placeholder="Email" value="{{user.email}}" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-1 control-label">Contrase単a</label>
            <div class="col-lg-11">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Contrase単a">
            </div>
        </div>  
        <div class="form-group">
            <label for="inputPassword2" class="col-lg-1 control-label">Confirmar contrase単a</label>
            <div class="col-lg-11">
                <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Contrase単a">
            </div>
        </div>      
        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-1">
                <a class="btn btn-danger" href="/users/update">Resetear</a>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
            <div class="col-lg-2 text-right">
                <a class="btn btn-danger" href="/users/delete">Eliminar perfil</a>
            </div>
        </div>
    </fieldset>
</form>